<style>
  img {
    width: 25%;
    height: 25%;
  }
</style>
<!-- 
<div> Input & Output
  <app-first-component [trackNum]="trackNum" (newNum)="getNum($event)"> </app-first-component>
  parent trackNum {{trackNum}}
</div>


<p>root works!</p>
<div> one way binding Interpulation
  <br /> {{ title }}
</div>


<div> one way binding Properities
  <br /> <img [src]="myImage">
</div>



<div> one way binding Event & Two Way Binding
  <br /> <button (click)="clickMe()"> Click </button>
  <div>
    {{ trakNums }}
  </div>
  <input type="text" [(ngModel)]="name" />
  {{name}}

</div> -->



<!-- 
<p> day2</p>

<app-login (message)="getData($event)"></app-login>


<div class="card text-white bg-dark mb-5" style="max-width: 30rem;">
  <div class="card-header">Message From Child</div>
  <div class="card-body">
    <h5 class="card-title">{{message}}</h5>
  </div>
</div>
 -->




<!-- <p> day3</p> -->

<div class="card bg-light mb-3" style="max-width: 10rem;">
  <div class="card-body">
    <h5 class="card-title">
      <button type="button" class="btn btn-outline-primary" routerLink="./allTodos">All Todos ?</button>
    </h5>
  </div>
</div>
<router-outlet></router-outlet>

<!-- <button routerLink="./todo">Todo</button> -->

<!-- <app-list-todos></app-list-todos> -->